div {
    text-align: center;
    font-size: 6vw;
}

button {
    padding: 15px 32px;
    color: white;
    border: none;
    font-size: 16px;
}

#stop {
    background-color: #f44336;
}

#start {
    background-color: #4CAF50;
}

html {
    margin: 0;
    padding: 0;
    background-color: #5DABF6;
}

#reset {
    background-color: #8E44AD;
}